/* resume */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.pt2{
    padding-top: 16px;
}

main{
    height:100%;
    width: 70%;
    display: block;
    font-family: monospace;
    margin: auto;
    background-color: #1d1a1a;
    color: #fff;
    padding: 0px 40px 0px 40px;
}
#header{
    text-align: center;

}
.abouts{
    gap: 10px;
    display: flex;
    justify-content: center;
}
#header h1{
    padding-top: 30px;
}
.degree{
    margin: 20px auto;
}
.education{
    display: flex;
    justify-content: space-between;
} 
.mt2{
 margin-top: 16px;
}
.df{
    display: flex;
}
.Languages{
    height: 100px;
}

.pjdetail{
    width: 500px;
}
.sec1{
 margin-left: 10px;
}
.sec2{
    margin-left: 40px;
}
.pjdetail{
    margin-left: 10px;
}